:root{
    /* Colors  */
    --light_gray: #EEEEEE;
    --light_orange: #FFD8D8;
    --red-orange: #FF4545;
    --blue: #008DFF;
    --pink-purple: #CD388C;
    --orange: #FF9945;
    --dark-red-orange: #D51212;
    --dark-blue: #0061AF;
    --dark-pink-puple: #BE006B;
    --dark-orange: #FF7402;
}
.red-text{
    color: var(--red-orange);
}
.red-link{
    color: var(--red-orange);
}
.red-link:hover{
    text-decoration-line: none;
}
.red-button{
    height: 40px;
    width: 150px;
    border: none;
    background-color: var(--red-orange);
    border-radius: 30px;
    margin: auto;
    color: white;
}
.red-button:hover{
    background-color: var(--dark-red-orange);
}
.white-button{
    background-color: white;
    color: var(--red-orange);
    margin-top: 20px;
    width: 180px;
}
.white-button:hover{
    background-color: #FFD8D8;
}
a:hover{
    text-decoration-line: none;
}

@font-face {
    font-family: 'Modulus pro';
    src: url('../../fonts/modulus-pro-medium.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Modulus pro bold';
    src: url('../../fonts/modulus-pro-bold.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html, body{
    height: 100%;
    margin: 0;
}

.darken-overlayaa {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: none;
  z-index: 9999;
  pointer-events: none;
}

body{
    background-color: var(--light_gray);
    font-family: 'Open sans, Regular';
    font-size: 20px;
}

.big-container{
    border-radius: 130px;
    background-color: white;
    width: 100%;
    height: 100%;
}

.container h2{
    font-family: 'Modulus Pro bold';
    font-size: 40px;
    margin: 0;
    display: flex;
    justify-content: center;
}
.default-text{
    font-size: 16px;
}
.small-text{
    font-size: 13px;
}
.mille{
    width: 850px;
    height: 180px;
    box-shadow: 5px 5px 20px #0000004b;
    margin: 35px auto;
    border-radius: 15px;
}
.mille h4{
    font-family: 'Modulus Pro bold';
    margin: 15px;
    margin-bottom: 25px;
}
.mille .row{
    margin: 0 auto;
    width: 100%;
}
.mille .row .col-lg-3{
    width: 230px;
    text-align: start;
    margin: 3px auto;
    font-size:  15px;
}
.mille .row .col-lg-3 img{
    width: 23px;
    height: 18px;
    margin-right: 10px;
}

.feature{
    width: 900px;
    margin: 80px auto;   
    padding: 15px auto; 
}
.feature button{
    border: none;
}
.feature button:hover{
    box-shadow: 0px 0px 1px #0000004b;
    transform: scale(1.01);
}
.rounded-feat{
    height: 60px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 2px 2px 10px #0000004b;
    margin: 0 15px;
}
.rounded-feat p{
    margin-top: 10px;
    width: fit-content;
}
.rounded-feat img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.rounded-feat a{
    color: var(--red-orange);
    font-family: 'Modulus pro bold';
    font-weight: 300;
    font-size: 14px
}
.rounded-feat a:hover{
    text-decoration-line: none!important;
}

.show{
    max-width: max-content;
    margin: 80px 0 100px 0!important;
    padding: 10px;
}
.show-content{
    width: 200px!important;
    height: 440px;
    box-shadow: 0px 0px 20px #00000038;
    margin: 10px;   
    border-radius: 35px;
}
.show-text{
    font-size: 14px;
}
.pricing-text{
    margin: 0px 5px;
    margin-top: 30px!important;
    /* word-spacing: px; */
    /* height: 300px; */
}
.pricing-text img{
    width: 16px;
    height: 16px;
    margin: 2px 10px 0 5px!important;
    margin-right: 10px;
    margin-top: -2px;
}

.floating-img{
    margin: -12px;
    margin-top: -70px;
}
.floating-img img{
    width: 200px;
    height: 200px;
}

.absolute-text{
    color: white;
    position: absolute;
    z-index: 2;
    margin-top: -90px;
    max-width: 150px;
    text-align: center;
    font-size: 15px;
}

.know-more{
    width: 900px!important;
}
.know-more-button{
    position: absolute;
    width: 160px!important;
    height: 35px;
    border-radius: 30px;
    border: none;
    margin: 45px 0px 0px 10px!important;
    color: white;
}


.more-1{
    background-color: var(--red-orange);
}
.more-2{
    background-color: var(--blue);
}
.more-3{
    background-color: var(--pink-purple);
}
.more-4{
    background-color: var(--orange);
}

.more-1:hover{
    background-color: var(--dark-red-orange);
}
.more-2:hover{
    background-color: var(--dark-blue);
}
.more-3:hover{
    background-color: var(--dark-pink-puple);
}
.more-4:hover{
    background-color: var(--dark-orange);
}

.big-and-small-img{
    margin: 30px auto;
}
.centered-img{

}
.big-img, .small-img{
    margin: 8px;
    height: 220px;
}

.reserve h3{
    font-family: 'Modulus pro'!important;
    font-size: 32px;
    font-weight: bold;
    margin-top: 80px;
}
.size-s{
    width: 25px;
    height: 30px;
}
.size-xl{
    width: 30px;
    height: 40px;
    margin-bottom: 8px!important;
}

.black-table-header{
    background: transparent url('../images/page 7_8/Soustraction 9.svg') 0% 0% no-repeat padding-box;
    background-size: 880px auto;
    background-position-x: center;
    height: 92px;
    width: 900px!important;
    margin: 0 auto!important;
    z-index: 2;
}
.header-text{
    color: white;
    text-align: left;
    width: 125px;
    max-height: 50px;
    font-family: Modulus pro;
    padding: 20px;
    padding-left: 5px;
}
.table-columns{
    max-width: 980px;
    margin: 0 auto!important;
}
.table-column{
    max-width: 146px!important;
    background: transparent url('../images/page 7_8/Rectangle 309.svg') 0% 0% no-repeat padding-box;
    background-size: 180px auto;
    background-position-x: center;
    background-position-y: -30px;
    margin-top: -8px!important;
    z-index: 0;
    padding-top: 20px;
}
.table-column p, .table-column ul, .table-column a{
    padding: 4px;
}
.table-column ul {
  list-style: none;
  padding: 4px;
  padding-left: 15px;
  margin: 5px auto;
}
.table-column ul li::before {
  content: "•";
  font-size: large;
  display: inline-block;
  margin: 0 5px 0 -15px;
  color: var(--red-orange);
}
.columns-text{
    font-size: 13px;
}
.columns-text p{
    margin: 5px auto;
}
.columns-text hr{
    max-width: 110px;
    margin: 0 auto;
}
.ligne1{
 min-height: 65px;   
}
.ligne2{
 min-height: 170px;   
}
.ligne3{
 min-height: 50px;   
}
.ligne4{
 min-height: 370px;   
}
.ligne5{
 min-height: 50px;   
}
.ligne6{
 min-height: 30px;   
}
.ligne7{
 min-height: 70px;   
}
.ligne8{
 min-height: 45px;   
}
.ligne9{
 min-height: 30px;   
}
.ligne10{
 min-height: 45px;   
}
.ligne11{
 min-height: 30px;   
}
.ligne12{
 min-height: 50px;   
}
.column-end-link{
    margin-top: 10px!important;
    padding-bottom: 200px!important;
    /* color: ; */
}

.table-ender{
    background: #eeeeee8a 0% 0% no-repeat padding-box;
    width: 875px;
    height: 80px;
    margin: auto;
    padding-top: 30px;
    text-align: center;
}

.accordion{
  border: none!important; 
  position: absolute;
  max-width: 900px!important;
}
.accordion-header{
    color: white!important;
}
.accordion-declencher-button{
    background-color: var(--red-orange)!important;
    width: 130px!important;
    height: 30px!important;
    margin: 0 auto;
    color: white!important;
    border: none;
    border-radius: 5px;
    z-index: 2;
}
.accordion-declencher-button:hover{
    background-color: var(--dark-red-orange)!important;
}
.accordion-hr{
    width: 365px;
    height: 3px!important;
    color: var(--red-orange)!important;
    background-color: var(--red-orange);
    margin: auto 0;
}
.collapse{
    margin: 0!important;
    padding: 0!important;
    max-width: 880px!important;
}
.collapse .accordion-body{
    padding: 0!important;
    margin: 0!important;
    max-width: 880px!important;
}
.collapse .accordion-body img{
    width: 100%!important;
    height: 100%!important;
    padding: 0!important;
    margin: 0 auto!important;
    background-color: rgba(255, 255, 255, 0);
    max-width: 880px!important;
}
.hr-left{
    margin-left: 7px;
}
.red-line-button{
    background-color:transparent !important;
}

.call-to-contact{
    padding: 50px 100px;
    width: 875px;
    height: 150px;
    margin: 0 auto;
    background: transparent url('../images/page 7_8/Groupe 1215.svg') 0% 0% no-repeat padding-box;
    background-size: 900px 180px;
    background-position-x: center;
    background-position-y: center;
}
.call-to-contact h3{
    font-family: Modulus Pro;
    font-weight: 600;
}
.tarifs{
    position: absolute;
    z-index: 2000;
    margin-top: -730px;
    margin-left: 121px;
}
.devis{
    margin-top: -20px!important;
    text-align: center;
}
.call-to-contact-bottom-border img{
    margin-top: -30px;
    border: none;
}
.call-to-contact-bottom-border img{
    max-width: 860px;
    height: 50px;
    border: none;
}

.both-models{
    max-width: 880px!important;
    height: 156px;
    margin: 15px auto!important;
    padding: 0;
    box-shadow: 2px 2px 10px #0000004b;
    border-radius: 25px;
}
.in-the-both{
    width: 400px!important;
    height: 165px;
    margin-top: -2px;
    margin-left: -42px;
    position: absolute;
    color: white;
    background: url('../images/page 7_8/Groupe 1285.svg') 0% 0% no-repeat padding-box;
    background-size: 410px 400px;
    background-position: center;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.in-the-both h3{
    margin: auto!important;
    font-family: Modulus Pro;
    max-width: 300px;
    text-align: center;
}
.both-models-description{
    /* border: solid violet; */
    max-width: 445px!important;
    max-height: 130px;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 400px;
}
.both-models-description p{
    font-size: 14px;
    margin: 5px!important;
    text-align: start!important;
    text-indent: -7px;
}
.both-models-description .d-flex{
    margin: 2px;
}
.both-models-description .d-flex img{
    width: 30px;
    height: 30px;
    margin: 5px;
}

.on-mesure{
    display: flex;
    justify-content: center;
    width: 700px!important;
    height: 150px;
    margin: 50px auto!important;
    box-shadow: 2px 2px 10px #0000004b;
    border-radius: 25px;
}
.contact-red-button{
    margin: auto!important;
    width: 130px!important;
    height: 40px;
    font-size: 12px;
}
.on-mesure h4{
    margin: auto;
    font-family: 'Modulus pro bold';
}
.on-mesure img{
    margin: auto;
}
.reservations{
    display: flex;
    justify-content: center;
    background: transparent url('../images/page 7_8/Groupe 1286.svg') 0% 0% no-repeat padding-box!important;
    background-position: center;
    background-size: 1024px 350px!important;
    width: 1024px!important;
    height: 350px;
    margin: 20px auto!important;
    color: white;
    /* box-shadow: 2px 2px 10px #0000004b; */
}
.reservation-text h2{
    font-family: 'Modulus pro';
}
.reservation-text, .reservation-button-div{
    margin: auto 60px!important;
    margin-top: 160px!important;
}


@media only screen and (max-width: 768px) {
    
    .big-container{
        padding: 7px;
    }
    .container h2{
        font-family: 'Modulus Pro bold';
        font-size: 24px;
        margin: 10px;
    }
    .container p.default-text{
        margin: 10px;
    }
    .default-text{
        font-size: 12px;
    }
    .mille{
        width: 90%;
        height: 365px;
    }
    .mille h4{
        font-size: 16px;
        margin-left: -15px;
        margin-top: 20px;
    }
    .mille .row .col-lg-3{
        font: normal normal normal 16px Open Sans;
        padding: 1% 1%;
    }

    .mobile-feature{
        box-shadow: 1px 1px 10px #0000004b;
        margin-bottom: 150px;
    }
    .navbar{
        margin-top: 10px;
        box-shadow: 0px 0px 10px #0000004b;
    }
    .navbar.bg-body{
        width: 100%;
        position: absolute;
    }
    .navbar-brand{
        font-family: 'Modulus Pro';
        font-size: 18px!important;
    }
    .collapse.navbar-collapse{
        border-radius: 0px!important;
        box-shadow: none;

    }
    .navbar-nav{
        max-width: 200px!important;
        float: right;
        margin: 5px;
    }
    .navbar-nav .nav-link{
        width: 200px;
        background-color: #EEEEEE;
        border-radius: 100px!important;
        margin: 3px;
        padding-left: 20px!important;
    }
    
    .show{
        margin-bottom: -70px!important;
    }
    .show-content{
        width: 240px!important;
        height: 440px;
        box-shadow: 0px 0px 20px #00000038;
        margin: 150px auto;
        border-radius: 35px;
    }
    .pricing-text {
        font-size: 14px;
    }
    .pricing-text img{
        width: 18px;
        height: 18px;
    }

    .floating-img{
        margin: -12px;
        margin-top: -90px;
    }
    .floating-img img{
        width: 240px;
        height: 240px;
    }

    .absolute-text{
        color: white;
        position: absolute;
        z-index: 2;
        margin-top: -105px;
        max-width: 170px;
        text-align: center;
        font-size: 18px;
    }

    .know-more-button{
        position: absolute;
        width: 180px!important;
        height: 45px;
        border-radius: 30px;
        border: none;
        margin: 65px 0px 0px 18px!important;
        color: white;
        font-size: 16px;
    }

    .centered-img{
        padding-left: 0!important;
        margin: auto!important;
    }
    .centered-img .mobile-images{
        display: table-column!important;
    }
    .centered-img .mobile-images img{
        width: 100%!important;
        height: 40%!important;
    }
    .centered-img .mobile-images .small-img{
        margin: 30px auto!important;
    }

    .mobile-tables{
        padding: auto;
    }
    .mobile-table-header{
        background: transparent url('../images/page 7_8/Soustraction 13.png') 0% 0% no-repeat;
        background-size: 100% 100%;
        width: 90%!important;
        height: 100px;
        margin: auto;
        font-size: 18px;
        z-index: 2;
    }

    .mobile-table-header .header-text{
        margin: auto;
        padding: 0!important;
        max-width: 45%!important;
    }
    .table-columns{
        padding: 0 5%!important;
    }

    .table-column{
        max-width: 50%!important;
        background: transparent url('../images/page 7_8/Rectangle 309.svg') 0% 0% no-repeat padding-box;
        background-size: 125% auto;
        background-position-x: center;
        background-position-y: -30px;
        margin-top: -8px!important;
        z-index: 0;
        padding-top: 20px;
    }
        
    .table-column ul li::before {
    margin: 0 3% 0 -5%;
    }
    .columns-text hr{
        max-width: 90%;
        margin: 0 auto;
    }
        
    .ligne1{
    min-height: 65px;   
    }
    .c-2 .ligne2{
    min-height: 50px;   
    }
    .ligne3{
    min-height: 50px;   
    }
    .ligne4{
    min-height: 295px;   
    }
    .c-2 .ligne4, .c-3 .ligne4{
    min-height: 260px;   
    }
    .ligne5{
    min-height: 50px;   
    }
    .ligne6{
    min-height: 30px;   
    }
    .ligne7{
    min-height: 70px;   
    }
    .ligne8{
    min-height: 45px;   
    }
    .ligne9{
    min-height: 30px;   
    }
    .ligne10{
    min-height: 45px;   
    }
    .ligne11{
    min-height: 30px;   
    }
    .ligne12{
    min-height: 50px;   
    }

    .mobile-devis{
        width: 90%!important;
        margin: 0 auto;
        background-color: #EEEEEE;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding-top: 5%!important;
        padding: 0%;
        font-size: 18px;
        font-weight: 600;
    }

    .mobile-tarifs{
        z-index: 4;
        height: 100px;
        margin-top: -700px!important;
    }
    .accordion-header{
        margin: 0 auto!important;
        padding: auto !important;
        width: 100%!important;
        margin: 0 auto!important;
    }
    .accordion-item{
        width: 83%;
        margin-left: 3%!important;
        padding-top: 0!important;
    }
    .red-button.mobile-accordion-button{
        width: 100%;
    }
    
    .collapse{
        margin: 0!important;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        background-color: transparent;
        box-shadow: 0px 0px 2px #0000004b;
        background: transparent!important;
        margin-top: 5%!important;
    }
    .accordion-body{
        max-height: 100%!important;
        background-color: white;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
    .table{
        font-size: 14px;
        margin: 0!important;
    }
    .table th div{        
        width: 100%;
        height: 60px!important;
        /* padding: auto!important; */
    }
    .th-text{
        width: 100%;
        height: 100%;
        background-color: #EEEEEE;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        text-align: center;
        font-family: 'Modulus pro bold';
    }

    .recommanded-options{
        width: 100%;
        margin-top: 50px;
    }
    .recommanded-options img{
        z-index: 0;
        margin-left: 4%;
        width: 92%;
    }

    .mobile-tarifs-1{
        margin-top: -680px!important;
    }
    .mobile-tarifs-2{
        margin-top: -550px!important;
    }
    .mobile-tarifs-3{
        margin-top: -640px!important;
    }

    .both-models{
        max-width: 90%!important;
        height: 100%!important;
        padding: 0!important;
    }
    .both-models .both-models-header{
        padding: 0!important;
    }
    .both-models-header img{
        width: 103%!important;
        height: 100%!important;
        margin: -5% 0 0 -1.5% !important;
    }
    .both-models-head{
        margin: -37% 0 15% 0 ;
        z-index: 2;
        color: white;
        text-align: center;
        font-family: 'Modulus pro';
        padding: 0 10px 0 10px;
    }
    .both-models-description{
        height: 100%!important;
        margin-bottom: 12%!important;
        padding: 10px!important;
    }
    .both-models-description .d-flex p {
        margin-left: 5px!important;
        text-indent: -5px !important;
        margin: 1px!important;
    }

    .both-models-description .d-flex img {
        margin-top: -1px!important;
    }

    .on-mesure{
        display: block;
        padding: 20px 0  30px  0!important;
        max-width: 90%!important;
        height: 270px!important;
        display: grid;
        place-items: center;
    }
    .on-mesure h4, .on-mesure img, .on-mesure .red-button{
        margin: 10px auto!important;
        text-align: center;
        /* width: 100%!important; */
    }
    .on-mesure img{
        width: 90px!important;
        margin: 15px auto!important;
    }

    .both-models-description{
        margin: 0;
    }

    .reservations{
        display: grid;
        place-items: center;
        background: transparent url('../images/page 7_8/Groupe 1288.png') 0% 0% no-repeat padding-box!important;
        background-position: center;
        background-size: 100% 220px!important;
        width: 90%!important;
        height: 220px!important;
        margin: 20px auto!important;
    }
    .reservation-text{
        margin-top: 80px!important;
        width: 95%!important;
        font-weight: 400!important;
        font-size: 13px;
        color: white;
        text-align: start!important;
    }
    .reservation-text h2{
        font-family: 'Modulus pro'!important;
        text-align: start!important;
        float: left!important;
    }
    .reservation-text p{
        clear: both!important;
    }
    .reservation-button-div{
        margin: 0 0 20px 0!important;
    }
    .white-button{
        margin: 0!important;
        /* display: none!important; */
    }


    .tarifs,.tables, .tables .black-table-header, .table-ender, .feature, .big-img, .both-models .in-the-both, .know-more .know-more-button{
        display: none!important;
    }

}

@media only screen and (min-width: 768px) {
    .mobile-feature, .mobile-img, .mobile-tables, .mobile-table-header, .both-models-header{
        display: none;
    }
}